# OS and IDE files
.DS_Store
.idea/
.vscode/
*.swp
.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/**/*.py[cod]

# virtual envs
venv_*/
venv/
markets_algo/
dump.rdb

gains_debug_prod.py