#svg-author-attribution {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.5em;
}

/*
 * Top Bar
 */

.icons {
    padding-top: 2vh;
}

.cell {
    height: 25vh;
    font-size: medium;
}

.nav .current {
    background-color: #ebebeb;
}

.bg-topbar {
  background-color: #8c1515;
}

/*
 * Contents
 */

.content-wrapper {
  background: #F3F3F3;
  padding: 1.5rem 1.7rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.grid-margin {
    margin-bottom: 25px;
}

.card {
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
  border: solid 1px #dde4eb;
  border-radius: 0px;
}

.card .card-title {
  color: #212529;
}

.card .card-header {
  background: #fff;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.font-weight-semibold {
  font-weight: 600;
}

/*
 * Loads
 */

/*
 * Rounded sliders
 */

 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
 * Battery
 */

.charge {
  height: 24px;
  width: 60%;
  background-color: #8c1515;
}
