#svg-author-attribution {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.5em;
}

.green {
    fill: green;
}

.red {
    fill: red;
}

.sized-block {
    height: 30vh;
}

.center-block {
    overflow: auto;
}
