<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Powernet</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stanford University - Powernet</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Main</a></li>
{#            <li><a href="/weather/">Weather</a></li>#}
            <li><a href="/pv/">PV / Storage</a></li>
            <li><a href="/charts/">Charts Control</a></li>
            <li><a href="/charts_no_control/">Charts No Control</a></li>
            <li><a href="/cost-min/">Cost Minimization</a></li>
            <li><a href="/home/one/">Bits Lab 1</a></li>
{#            <li class="disabled"><a onclick="return false;" href="/home/two/">Bits Lab 2</a></li>#}
{#            <li class="disabled"><a onclick="return false;" href="/electricity/">Electricity</a></li>#}
            <li><a href="http://powernet.stanford.edu/our-team" target="_blank">Team</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
        {% block main-content %}{% endblock %}
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% block page-scripts %}{% endblock %}
</body>
</html>