{% extends "base.html" %}

{% load static %}
{% block partial_styles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block resources-styles %}{% endblock resources-styles %}
{% endblock partial_styles %}
{% block main-content %}
    <div id="resources" class="container-fluid">
        <div id="resources-information-content" class="row">
            <div class="col-md-2 d-none d-md-block sidebar text-center">
                Resources Information
                <br/>
                <div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-center icons w3-bar-item w3-button {% if resource == 'loads' %}current{% endif %}" href="/loads">
                                <image src="https://cdn3.iconfinder.com/data/icons/devices-and-communication-2/100/electricity_plug_female_american-512.png" height=60>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center icons w3-bar-item w3-button" href="/">
                                <image src="https://cdn1.iconfinder.com/data/icons/universal-mobile-line-icons-vol-7/48/310-512.png" height=60>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center icons w3-bar-item w3-button" href="/">
                                <image src="https://static.thenounproject.com/png/725-200.png" height=60>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center icons w3-bar-item w3-button" href="/">
                                <image src="https://cdn2.iconfinder.com/data/icons/energy-and-resources/80/14_energy_solar_pannel-512.png" height=60>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center icons w3-bar-item w3-button" href="/">
                                <image src="https://s3.amazonaws.com/iconbros/icons/icon_pngs/000/002/243/original/battery.png?1561490161" height=60>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ml-sm-auto col-lg-7 center-block">
                {% block dashboard-resources %}{% endblock dashboard-resources %}
            </div>
            <div class="col-md-3 d-none d-md-block">
                <div class="sized-block">
                    <h4>
                      <div id="temp"></div>
                    </h4>
                    <div id="icon"></div>
                </div>
                <div class="sized-block">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                Events Participated: 2 / 8
                            </li>
                            <li class="nav-item">
                                Tokens Collected: 45
                            </li>
                            <li class="nav-item">
                                Participation: HIGH
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
{% endblock main-content %}

{% block page-scripts %}
    <script type="text/javascript">
        let token = '{{ token }}';
        let homeList = {{ homes | safe }};
        let deviceList = {{ devices | safe }};

        window.localStorage.setItem('token', token);
        window.localStorage.setItem('homes', JSON.stringify(homeList));
        window.localStorage.setItem('devices', JSON.stringify(deviceList));
    </script>
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/weather.js" %}"></script>
    {% block resources-scripts %}{% endblock resources-scripts %}
{% endblock page-scripts %}
