{% extends "base.html" %}

{% load static %}

{% block main-content %}

    <br /><br /><br /><br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>[404] Oops!</h1>
            <h3>We couldn't find the page you were looking for.</h3>
            <h3>If you believe this to be a mistake, please contact someone form the Powernet Team.</h3>
        </div>
    </div>

    <br /><br /><br /><br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <img height="30%" width="30%" src="https://storage.googleapis.com/powernet-media-artifacts/pics/logos/powernet-logo.png">
        </div>
    </div>

{% endblock main-content %}

