{% extends "dashboard.html" %}
{% load static %}

{% block dashboard-styles %}
{% endblock dashboard-styles %}

{% block dashboard-resources %}
<div class="row card hidden-xs">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-6 list-item">
                <div class="card-body">
                    <div class="card-title">Sales Statistics Overview</div>
                    <div class="row battery">
                        <div class="col-5 col-md-5">
                            <div class="wrapper border-bottom mb-2 pb-2">
                                <p class="mb-0">State:</p>
                                <div class="d-flex align-items-center">
                                    <h4 class="font-weight-semibold mb-0">Discharging</h4>
                                    <div class="dot-indicator bg-secondary ml-auto"></div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <p class="mb-0">Power:</p>
                                <div class="d-flex align-items-center">
                                    <h4 class="font-weight-semibold mb-0">600W</h4>
                                    <div class="dot-indicator bg-primary ml-auto"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-md-7">
                            <p class="mb-0">Charging State:</p>
                            <div class="text-center">
                                <h4 class="font-weight-semibold">60%</h4>
                                <br/>
                                <div class="w3-border">
                                    <div class="d-flex align-items-center">
                                    <div class="charge"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 list-item">
                <div class="card-body">
                    <div class="battery">
                        <div class="card-title">Battery Control</div>
                        <div>
                            <form>
                                <div class="wrapper mb-2 pb-2">
                                    <p class="mb-0">State:</p>
                                    <div class="d-flex align-items-center">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                              <option>Charge</option>
                                              <option>Discharge</option>
                                              <option>Idle</option>
                                        </select>
                                        <div class="dot-indicator bg-secondary ml-auto"></div>
                                    </div>
                                </div>
                                <div class="wrapper form-group">
                                    <p class="mb-0">Rate:</p>
                                    <div class="d-flex align-items-center">
                                        <input class="form-control" id="exampleFormControlInput1">
                                        Watts
                                        <div class="dot-indicator bg-primary ml-auto"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary button-padding float-right">Set</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block dashboard-scripts %}
{% endblock dashboard-scripts %}
