{% extends "base.html" %}

{% load static from staticfiles %}

{% block main-content %}

    <br><br>
    <div class="row control-top-banner">
        <div class="col-sm-11 col-sm-offset-1 control-banner-text" style="margin-top: 3%;">
            <h2>CHART PLOTS FROM</h2> 
            <h2><b>COST MINIMIZATION ALGORITHM</b></h2>
        </div>
    </div>

    <div id="control-profit-price" class="row text-center control-banner-text control-sub-banner">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><h4><strong>Building: 7.4</strong></h4></div>
        <div class="col-sm-2"><h4><strong>Home 1: 2.5</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 2: 2.0</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 3: 2.4</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 4: 2.4</strong>  </h4></div>
        <div class="col-sm-1"></div>
    </div>

    <br />
    <br />

    <div id="time-slider-control-charts" class="row">
        <div class="col-sm-12 center-block text-center">
            <button id="play-animation-control" class="btn-lg btn-custom">PLAY</button>
            <button id="stop-animation-control" class="btn-lg btn-custom">STOP</button>
            <button id="reset-animation-control"class="btn-lg btn-custom">RESET</button>
        </div>
    </div>

    <div id="net-power-all"></div>
    <div id="solar-all"></div>
    <div id="q-all"></div>
    <div id="u-all"></div>
    <div id="voltage-all"></div>

{% endblock main-content %}

{% block page-scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="{% static "js/demo2.js" %}"></script>
    <script src="{% static "js/algorithm-plotting.js" %}"></script>
{% endblock page-scripts %}

