{% extends "base.html" %}

{% load static from staticfiles %}

{% block main-content %}

    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <h3>Chart plots from Cost Minimization Algorithm - NO CONTROL</h3>
        </div>
        <div>
            {{my_numpy_var}}
        </div>
    </div>

    <br/>
    <br/>

    <div id="control-profit-price" class="row center-block text-center">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><h4><strong>Building: 8.4</strong></h4></div>
        <div class="col-sm-2"><h4><strong>Home 1: 2.8</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 2: 2.8</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 3: 2.8</strong>  </h4></div>
        <div class="col-sm-2"><h4><strong>Home 4: 2.8</strong>  </h4></div>
        <div class="col-sm-1"></div>
    </div>

    <br/>
    <br/>

    <div id="time-slider-no-control-charts" class="row">
        <div class="col-sm-12 center-block text-center">
            <button id="play-animation-no-control">Play</button>
            <button id="stop-animation-no-control">Stop</button>
            <button id="reset-animation-no-control">Reset</button>
        </div>
    </div>

    <div id="net-power-all"></div>
    <div id="solar-all"></div>
    <div id="q-all"></div>
    <div id="u-all"></div>
    <div id="voltage-all"></div>

{% endblock main-content %}

{% block page-scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="{% static "js/demo2.js" %}"></script>
    <script src="{% static "js/algorithm-plotting-no-control.js" %}"></script>
{% endblock page-scripts %}

