{% extends "base.html" %}

{% load static from staticfiles %}

{% block main-content %}

    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <h3>Chart plots from Cost Minimization Algorithm</h3>
        </div>
    </div>

    <div id="time-slider-control-charts" class="row">
        <div class="col-sm-12 center-block text-center">
            <button id="play-animation-control">Play</button>
            <button id="stop-animation-control">Stop</button>
        </div>
    </div>

    <div id="net-power-all"></div>
    <div id="solar-all"></div>
    <div id="q-all"></div>
    <div id="u-all"></div>
    <div id="voltage-all"></div>

{% endblock main-content %}

{% block page-scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="{% static "js/algorithm-plotting.js" %}"></script>
{% endblock page-scripts %}

