{% extends "base.html" %}

{% load static %}

{% block main-content %}



{% endblock main-content %}

{% block page-scripts %}
    <script type="text/javascript">
        let token = '{{ token }}';
        let homeList = {{ homes | safe }};
        let deviceList = {{ devices | safe }};

        window.localStorage.setItem('token', token);
        window.localStorage.setItem('homes', JSON.stringify(homeList));
        window.localStorage.setItem('devices', JSON.stringify(deviceList));
    </script>
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock page-scripts %}