{% extends "resources.html" %}
{% load static %}

{% block resources-styles %}
{% endblock resources-styles %}

{% block dashboard-resources %}
<main role="main" class="hidden-xs">
    Home Circuit and Plug Loads
    <div class="container">
      <div class="row hidden-xs loads-container">
        <div class="col-sm-4 cell" align="center">
            Living Room: 200W
            <img src="https://static.thenounproject.com/png/81671-200.png" height="120">
        </div>
        <div class="col-sm-4 cell" align="center">
            Bedrooms: 203W
            <img src="https://static.thenounproject.com/png/81673-200.png" height="120">
        </div>
        <div class="col-sm-4 cell" align="center">
            Kitchen: 504W
            <img src="https://static.thenounproject.com/png/81669-200.png" height="120">
        </div>
        <div class="col-sm-4 cell" align="center">
            Laundry: 0W
            <img src="https://static.thenounproject.com/png/1011325-200.png" height="120">
        </div>
        <div class="col-sm-4 cell" align="center">
            Plug Load 1: 0W
            <br/>
            <img src="https://static.thenounproject.com/png/2485104-200.png" width="80">
        </div>
        <div class="col-sm-4 cell" align="center">
            Plug Load 2: 203W
            <img src="https://static.thenounproject.com/png/2485103-200.png" width="80">
        </div>
      </div>
    </div>
</main>
{% endblock %}

{% block resources-scripts %}
{% endblock resources-scripts %}
