{% extends "dashboard.html" %}
{% load static %}

{% block dashboard-styles %}
{% endblock dashboard-styles %}

{% block dashboard-resources %}
<main role="main" class="row card card-body hidden-xs">
    Home Circuit and Plug Loads
    <div class="container">
        <div class="row hidden-xs loads-container">
            <div class="col-sm-4" align="center">
                Living Room: 200W
            </div>
            <div class="col-sm-4" align="center">
                Bedrooms: 203W
            </div>
            <div class="col-sm-4" align="center">
                Kitchen: 504W
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81671-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81673-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81669-200.png" height="120">
            </div>
            <div class="col-sm-4" align="center">
                Laundry: 0W
            </div>
            <div class="col-sm-4" align="center">
                Plug Load 1: 0W
            </div>
            <div class="col-sm-4" align="center">
                Plug Load 2: 203W
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/1011325-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <br/><br/>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm-4 cell" align="center">
                <br/><br/>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block dashboard-scripts %}
{% endblock dashboard-scripts %}
