{% extends "dashboard.html" %}
{% load static %}

{% block dashboard-styles %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock dashboard-styles %}

{% block dashboard-resources %}
<div class="row card card-body hidden-xs">
    <div class="card-title">Home Circuit and Plug Loads</div>
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-4" align="center"></div>
            <div class="col-sm-4" align="center">
                Home: 1000W
            </div>
            <div class="col-sm-4" align="center"></div>
            <div class="col-sm-4 cell" align="center"></div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://cdn2.iconfinder.com/data/icons/internet-of-things-solid-convergence/512/Smart_home-512.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center"></div>
            <div class="col-sm-4" align="center">
                Living Room: 200W
            </div>
            <div class="col-sm-4" align="center">
                Bedrooms: 203W
            </div>
            <div class="col-sm-4" align="center">
                Kitchen: 504W
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81671-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81673-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/81669-200.png" height="120">
            </div>
            <div class="col-sm-4" align="center">
                Laundry: 0W
            </div>
            <div class="col-sm-4" align="center">
                Plug Load 1: 0W
            </div>
            <div class="col-sm-4" align="center">
                Plug Load 2: 203W
            </div>
            <div class="col-sm-4 cell" align="center">
                <img src="https://static.thenounproject.com/png/1011325-200.png" height="120">
            </div>
            <div class="col-sm-4 cell" align="center">
                <br/>
                <br/>
                <input type="checkbox" data-toggle="toggle">
            </div>
            <div class="col-sm-4 cell" align="center">
                <br/>
                <br/>
                <input type="checkbox" data-toggle="toggle" checked>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block dashboard-scripts %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock dashboard-scripts %}
