{% extends "dashboard_farm.html" %}

{% load static %}
{% block dashboard-styles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}"/>
{% endblock %}
{% block dashboard-main %}
<div class="row">
    <div class="card hidden-xs card-body">
        <div class="card-title">The information provided in this table is only for Pen 1 (Test)</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fan #</th>
                    <th>Status</th>
                    <th>Grid Power (W)</th>
                    <th>Solar Power (W)</th>
                    <th>Temperature (F)</th>
                    <th>Humidity (%)</th>
                </tr>
            </thead>
            <tbody id="local-fan-data">
            </tbody>
        </table>
    </div>
</div>

{% endblock dashboard-main %}

{% block  dashboard-scripts %}
<script type="text/javascript">
    var farmData = {{ farm_data2 | safe }};
</script>
<script src="{% static 'js/local_fan.js' %}"></script>
{% endblock %}
