{% extends "dashboard_farm.html" %}

{% load static %}
{% block dashboard-styles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}"/>
{% endblock %}
{% block dashboard-main %}
<div class="row">
    <div class="card hidden-xs card-body">
        <div class="card-title">The information provided in this table is only for Pen 1 (Test)</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fan #</th>
                    <th>Status</th>
                    <th>Grid Power (W)</th>
                    <th>Solar Power (W)</th>
                    <th>Temperature (F)</th>
                    <th>Humidity (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Off</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>On</td>
                    <td>200</td>
                    <td>600</td>
                    <td>70</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>On</td>
                    <td>200</td>
                    <td>800</td>
                    <td>65</td>
                    <td>75</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock dashboard-main %}

{% block  dashboard-scripts %}
{% endblock %}
