{% extends "base.html" %}

{% load static %}
{% block partial_styles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}"/>
{% endblock %}
{% block main-content %}
    <div id="main-dashboard-content">
        <h3>Powernet Bits & Watts</h3>
        <br />
    </div>

    <button id="view-ecobee-chart-btn">View Ecobee Chart</button>
    <div id="ecobee-chart"></div>
{% endblock main-content %}

{% block page-scripts %}
    <script type="text/javascript">
        let token = '{{ token }}';
        let homeList = {{ homes | safe }};
        let deviceList = {{ devices | safe }};

        window.localStorage.setItem('token', token);
        window.localStorage.setItem('homes', JSON.stringify(homeList));
        window.localStorage.setItem('devices', JSON.stringify(deviceList));
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock page-scripts %}