{% extends "resources.html" %}
{% load static %}

{% block resources-styles %}
<link rel="stylesheet" href="{% static "css/d3js.css" %}"/>
{% endblock resources-styles %}

{% block dashboard-resources %}
<main role="main" class="px-4 text-center">
    <div id="diagram"></div>
</main>
{% endblock %}

{% block resources-scripts %}
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="{% static "js/simple-diagram.js" %}"></script>
<script src="{% static "js/controller-diagram.js" %}"></script>
{% endblock resources-scripts %}
