{% extends "base.html" %}

{% load static %}
{% block partial_styles %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}"/>
{% endblock %}
{% block main-content %}
    <div id="main-dashboard-content">
        <h3>Powernet Bits & Watts</h3>
        <br />
    </div>

    <div class="row">
        <div class="col-md-6">
            <button id="view-ecobee-chart-btn">View Ecobee Chart</button>
        </div>
        <div class="col-md-4">
            <select id="ecobee-temp"></select>
            <select id="ecobee-hvac-mode">
                <option value="heat">Heat</option>
                <option value="cool">Cool</option>
                <option value="auto">Auto</option>
                <option value="off">Off</option>
            </select>
            <button id="set-ecobee-temp-mode-params">Set Temp & Mode</button>
        </div>
    </div>
    <div id="ecobee-chart"></div>
{% endblock main-content %}

{% block page-scripts %}
    <script type="text/javascript">
        let token = '{{ token }}';
        let homeList = {{ homes | safe }};
        let deviceList = {{ devices | safe }};

        window.localStorage.setItem('token', token);
        window.localStorage.setItem('homes', JSON.stringify(homeList));
        window.localStorage.setItem('devices', JSON.stringify(deviceList));
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static "js/dashboard.js" %}"></script>
{% endblock page-scripts %}