{% extends "base.html" %}

{% load static %}

{% block main-content %}

    <div class="row">
        <div class="col-sm-12">
            <h2>Location Settings</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <pre id="home-data"></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>User Settings</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <pre id="user-data"></pre>
        </div>
    </div>

{% endblock main-content %}

{% block page-scripts %}
    <script src="{% static "js/settings.js" %}"></script>
{% endblock page-scripts %}