#svg-author-attribution {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.5em;
}

#resources {
    font-size: x-large;
}

.icons {
    padding-top: 3vh;
}

.green {
    fill: green;
}

.red {
    fill: red;
}

.sized-block {
    height: 30vh;
}

.center-block {
    overflow: auto;
}

.loads-container {
    padding-top: 10vh;
}

.cell {
    height: 25vh;
    font-size: medium;
}

.nav .current {
    background-color: #ebebeb;
}

.padding {
    padding-top: 6vh;
}

.large-font {
    font-size: large;
}
