{% extends "demo3_base.html" %}


{% block main-content %}

    <gwd-doubleclick id="gwd-ad" polite-load="">
    <gwd-metric-configuration>
      <gwd-metric-event source="gwd-taparea_1" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_3" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_2" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea-laundry" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_fridge" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_oven" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_dishwasher" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="gwd-taparea_4" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_dishwasher gwd-taparea_5" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_dishwasher gwd-taparea_6" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_stove-oven gwd-taparea_5" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_stove-oven gwd-taparea_6" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_refrigerator gwd-taparea_5" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_refrigerator gwd-taparea_6" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_washer-dryer gwd-taparea_5" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="toggleON-OFF_washer-dryer gwd-taparea_6" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="StatsMenu gwd-taparea_7" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
      <gwd-metric-event source="StatsMenu gwd-taparea_8" event="tapareaexit" metric="" exit="Exit"></gwd-metric-event>
    </gwd-metric-configuration>
    <div is="gwd-pagedeck" class="gwd-page-container" id="pagedeck">
      <div is="gwd-page" id="page1" class="gwd-page-wrapper gwd-page-size gwd-lightbox gwd-div-1aoo" data-gwd-width="100%" data-gwd-height="100%">
        <div class="gwd-page-content gwd-page-size gwd-div-1mw1">
          <img is="gwd-image" source="Assets_House_floorGrid-05.svg" id="grid" class="gwd-img-i5aa gwd-gen-15z0gwdanimation">
          <canvas is="gwd-bezierpath" width="548" height="311" class="gwd-canvas-o7lw gwd-gen-xfjpgwdanimation" id="houseShadow1" anchors="[[[1.5,125.11,0],[0,123.62,0],[0,123.62,0]],[[347.18,311.38,0],[347.18,311.38,0],[347.18,311.38,0]],[[395.9,281.55,0],[395.9,281.55,0],[395.9,281.55,0]],[[522.82,242.23,0],[522.82,242.23,0],[522.82,242.23,0]],[[548.02,185,0],[548.02,185,0],[548.02,185,0]],[[223.6,0,0],[223.6,0,0],[223.6,0,0]]]" closed="" stroke-width="0" stroke-color="[0,0,0,1]" fill-color="[0,0,0,1]" geom-type="5"></canvas>
          <img is="gwd-image" source="Assets_House_Xploded.svg" id="houseXploded" class="gwd-img-crf7 gwd-gen-wqcqgwdanimation">
          <img is="gwd-image" source="Smart_House-Wall4.svg" id="wall4" class="gwd-img-p1kj gwd-gen-muungwdanimation">
          <img is="gwd-image" source="Smart_House-Wall2.svg" id="wall2" class="gwd-img-13uq gwd-gen-1dfjgwdanimation">
          <img is="gwd-image" source="Smart_House-Wall3.svg" id="wall3" class="gwd-img-13kx gwd-gen-sgd2gwdanimation">
          <img is="gwd-image" source="Smart_House-Wall1.svg" id="wall1" class="gwd-img-mtcn gwd-gen-t7d4gwdanimation">
          <img is="gwd-image" source="Smart_House-Roof1.svg" id="roof1" class="gwd-img-1slr gwd-gen-1eh7gwdanimation">
          <img is="gwd-image" source="Smart_House-Roof2.svg" id="roof2" class="gwd-img-shdn gwd-gen-6pxigwdanimation">
          <img is="gwd-image" source="Smart_House-SPanel1.svg" id="solarPanel1" class="gwd-img-1tbg gwd-gen-lp9cgwdanimation">
          <img is="gwd-image" source="Smart_House-SPanel2.svg" id="solarPanel2" class="gwd-img-3wun gwd-gen-ymc3gwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window4" class="gwd-img-1axo gwd-img-exyb gwd-img-ykxj gwd-gen-6noegwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window3" class="gwd-img-1axo gwd-img-exyb gwd-img-1x74 gwd-gen-c1p2gwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window2" class="gwd-img-1axo gwd-img-exyb gwd-img-xn06 gwd-gen-25pkgwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window1" class="gwd-img-1axo gwd-img-o0om gwd-gen-18gmgwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window5" class="gwd-img-1axo gwd-img-exyb gwd-img-oo44 gwd-img-o3bj gwd-gen-52d4gwdanimation">
          <img is="gwd-image" source="Smart_House-Window1_Wall1.svg" id="window6" class="gwd-img-1axo gwd-img-exyb gwd-img-oo44 gwd-img-n5xp gwd-gen-1jv0gwdanimation">
          <img is="gwd-image" source="Smart_House-Window3-Wall2.svg" id="window7" class="gwd-img-1xoa gwd-img-1xn2 gwd-gen-1q3ygwdanimation">
          <img is="gwd-image" source="Smart_House-Window3-Wall2.svg" id="window8" class="gwd-img-1xoa gwd-img-1hog gwd-gen-9t35gwdanimation">
          <img is="gwd-image" source="Smart_House-Window2-Wall2.svg" id="window9" class="gwd-img-apdj gwd-img-dygc gwd-gen-tt9hgwdanimation">
          <img is="gwd-image" source="Smart_House-Window2-Wall2.svg" id="window10" class="gwd-img-apdj gwd-img-1t97 gwd-gen-11cmgwdanimation">
          <img is="gwd-image" source="Smart_House-Window4-Wall4.svg" id="window11" class="gwd-img-bzf8 gwd-gen-qznggwdanimation">
          <img is="gwd-image" source="Smart_House-Door.svg" id="Door" class="gwd-img-a9wd gwd-gen-srjdgwdanimation">
          <img is="gwd-image" source="Smart_House-Stairs.svg" id="stairs" class="gwd-img-1iyg gwd-gen-27q3gwdanimation">
          <div class="gwd-div-11kl gwd-gen-t6obgwdanimation" id="Line1Tesla"></div>
          <div class="gwd-div-13i9 gwd-gen-ssn9gwdanimation" id="Line2Tesla"></div>
          <canvas is="gwd-oval" width="98" height="99" class="gwd-canvas-1vpp gwd-gen-m5aegwdanimation gwd-canvas-186p" id="TeslaState" x-off="0.48449999999999704" y-off="0" stroke-width="0" stroke-color="[0,0,0,1]" fill-color="[0.00784313725490196,0.7647058823529411,0.1411764705882353,1]" inner-radius="0" stroke-style="Solid"></canvas>
          <img is="gwd-image" source="Button-Overlay-23.svg" id="buttonOverlay-teslaWall" class="gwd-img-1xb8 gwd-gen-1sjagwdanimation gwd-img-1jk2 gwd-img-mty4">
          <img is="gwd-image" source="Smart_House-Logo-Tesla-03.svg" id="LogoTesla" class="gwd-img-1t6b gwd-gen-onzggwdanimation">
          <div class="gwd-div-19bl gwd-gen-1fk2gwdanimation" id="Line1Aggregate"></div>
          <div class="gwd-div-1jvv gwd-gen-1e1ugwdanimation" id="Line2Aggregate"></div>
          <canvas is="gwd-oval" width="98" height="99" class="gwd-canvas-1vpp gwd-gen-cs07gwdanimation gwd-canvas-1r40" id="AggregateState" x-off="0.48449999999999704" y-off="0" stroke-width="0" stroke-color="[0,0,0,1]" fill-color="[1,0.8274509803921568,0,1]" inner-radius="0" stroke-style="Solid"></canvas>
          <img is="gwd-image" source="Button-Overlay-23.svg" id="buttonOverlay-aggregate" class="gwd-img-1xb8 gwd-img-1jk2 gwd-gen-o6zlgwdanimation gwd-img-1jpr">
          <img is="gwd-image" source="Smart_House-Logo-Aggregate-03.svg" id="LogoAggregate" class="gwd-img-sx2l gwd-gen-vpnngwdanimation">
          <div class="gwd-div-95ow gwd-gen-1qg6gwdanimation" id="Line1SolarPanel"></div>
          <div class="gwd-div-8x6l gwd-gen-u6nzgwdanimation" id="Line2SolarPanel"></div>
          <canvas is="gwd-oval" width="100" height="101" class="gwd-canvas-1vpp gwd-canvas-1r40 gwd-gen-mwh2gwdanimation gwd-canvas-a976" id="SolarPanelState" x-off="0.48449999999999704" y-off="0" stroke-width="0" stroke-color="[0,0,0,1]" fill-color="[1,0,0,1]" inner-radius="0" stroke-style="Solid"></canvas>
          <img is="gwd-image" source="Button-Overlay-23.svg" id="buttonOverlay-solarPanel" class="gwd-img-1xb8 gwd-gen-15zkgwdanimation gwd-img-1k8x">
          <img is="gwd-image" source="Smart_House-Logo-SolarPanel-03.svg" id="LogoSolarPanel" class="gwd-img-9kxs gwd-gen-197lgwdanimation">
          <img is="gwd-image" source="Smart_House-TeslaPowerWall-Wall4.svg" id="teslaPowerWall" class="gwd-img-7j14 gwd-gen-tlmfgwdanimation">
          <div class="gwd-animation-event event-1-animation" data-event-name="event-1" data-event-time="6013"></div>
          <gwd_animation_pause_element></gwd_animation_pause_element>
          <div class="gwd-div-crki" data-gwd-group="StatsMenu" id="StatsMenu">
      <canvas is="gwd-rectangle" width="1280" height="720" class="gwd-grp-7ou3 gwd-canvas-ju36 gwd-gen-1uyggwdanimation" x-off="0.46289999999999054" y-off="0" stroke-width="1" stroke-color="[0,0,0,1]" fill-color="[0.0196078431372549,0.0196078431372549,0.0196078431372549,1]" tl-radius="0" tr-radius="0" bl-radius="0" br-radius="0" stroke-style="Solid"></canvas>
      <canvas is="gwd-rectangle" width="20" height="245" class="gwd-canvas-706k gwd-gen-17y3gwdanimation gwd-grp-7ou3" x-off="0.25199736746169066" y-off="-0.4166571133670516" stroke-width="0" stroke-color="null" fill-color="[1,1,1,1]" tl-radius="0" tr-radius="0" bl-radius="0" br-radius="0" stroke-style="Solid" data-gwd-grp-id="StatsBox"></canvas>
      <p class="gwd-p-q2go gwd-p-1mf2 gwd-gen-5ybxgwdanimation gwd-grp-7ou3">STATS</p>
      <p class="gwd-p-q2go gwd-p-tkg5 gwd-p-121w gwd-gen-1ffkgwdanimation gwd-grp-7ou3" data-gwd-grp-id="NAME"><span class="gwd-span-zvja gwd-span-38jw gwd-grp-7ou3 gwd-span-17s3">NAME:</span><br>

      </p><span class="gwd-span-ewbs gwd-span-bwgn gwd-grp-7ou3" data-gwd-grp-id="nameTextField"><br class="gwd-grp-7ou3"></span>
      <p class="gwd-p-q2go gwd-p-tkg5 gwd-p-nf8f gwd-p-1rer gwd-gen-106ygwdanimation gwd-grp-7ou3" data-gwd-grp-id="ADDRESS"><span class="gwd-span-1sup gwd-span-1pfv gwd-grp-7ou3 gwd-span-14vz">ADDRESS:</span><br>

      </p><span class="gwd-span-ewbs gwd-span-957w gwd-span-f0ww gwd-grp-7ou3" data-gwd-grp-id="addressTextField"><br class="gwd-grp-7ou3"></span><span class="gwd-span-ewbs gwd-span-957w gwd-span-1jyx gwd-span-1ney gwd-grp-7ou3" data-gwd-grp-id="addressTextField_1"><br class="gwd-grp-7ou3"></span>
      <p class="gwd-p-q2go gwd-p-tkg5 gwd-p-nf8f gwd-p-1v88 gwd-p-lf6l gwd-gen-wj7kgwdanimation gwd-grp-7ou3" data-gwd-grp-id="SOLARGEN"><span class="gwd-span-1242 gwd-span-kqfj gwd-grp-7ou3 gwd-span-10jb">SOLAR GEN.:</span><br>

      </p><span class="gwd-span-ewbs gwd-span-957w gwd-span-1jyx gwd-span-1q5i gwd-grp-7ou3" data-gwd-grp-id="solargenTextField"><br class="gwd-grp-7ou3"></span>
      <p class="gwd-p-q2go gwd-p-tkg5 gwd-p-nf8f gwd-p-1v88 gwd-p-1cyh gwd-p-jbwb gwd-gen-10oagwdanimation gwd-grp-7ou3" data-gwd-grp-id="POWERCONSUMPTION"><span class="gwd-span-qhgo gwd-span-1uig gwd-grp-7ou3 gwd-span-3tqr">PWR CONSUMPTION:</span><br>

      </p><span class="gwd-span-ewbs gwd-span-1utw gwd-span-1q91 gwd-grp-7ou3" data-gwd-grp-id="powerconsumptionTextField"><br class="gwd-grp-7ou3"></span>
      <p class="gwd-p-q2go gwd-p-tkg5 gwd-p-nf8f gwd-p-1v88 gwd-p-1cyh gwd-p-1usf gwd-gen-lr4sgwdanimation gwd-grp-7ou3" data-gwd-grp-id="WEATHER"><span class="gwd-span-k11l gwd-span-6b35 gwd-grp-7ou3 gwd-span-11yb">WEATHER:</span><br>

      </p><span class="gwd-span-ewbs gwd-span-1utw gwd-span-q46a gwd-grp-7ou3" data-gwd-grp-id="weatherTextField"><br class="gwd-grp-7ou3"></span>
      <gwd_animation_label_element data-label-name="statsInfo" data-label-time="4700" data-label-animation-class-name="statsInfo" class="gwd-gwd_animation_label_element-36zz gwd-gwd_animation_label_element-2vlh"></gwd_animation_label_element>
      <gwd_animation_pause_element class="gwd-gwd_animation_pause_element-1ovv gwd-gwd_animation_pause_element-uxw5"></gwd_animation_pause_element>
      <div class="gwd-animation-event event-19-animation" data-event-name="event-19" data-event-time="4600"></div>
      <img is="gwd-image" source="Buttons-Stats.svg" class="gwd-img-b4ls gwd-grp-7ou3 gwd-gen-6czfgwdanimation" data-gwd-grp-id="statsBtn">
      <gwd_animation_label_element data-label-name="statsMenuInit" data-label-time="4600" data-label-animation-class-name="statsMenuInit"></gwd_animation_label_element>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_7" class="gwd-grp-7ou3 gwd-taparea-16wp"></gwd-taparea>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_8" class="gwd-grp-7ou3 gwd-taparea-15qq"></gwd-taparea>
    </div>
          <gwd-taparea id="gwd-taparea_1" class="gwd-taparea-197m"></gwd-taparea>
          <gwd_animation_label_element data-label-name="stats" data-label-time="6200" data-label-animation-class-name="stats"></gwd_animation_label_element>
          <gwd_animation_label_element data-label-name="SmartHouse" data-label-time="6000" data-label-animation-class-name="SmartHouse"></gwd_animation_label_element>
          <span class="gwd-span-1etj gwd-span-tovi gwd-gen-rzu1gwdanimation" id="goInside">GO INSIDE</span>
          <gwd-taparea id="gwd-taparea_3" class="gwd-taparea-1n4w"></gwd-taparea>
          <div class="gwd-animation-event event-2-animation" data-event-name="event-2" data-event-time="8200"></div>
          <gwd_animation_label_element data-label-name="xplode" data-label-time="8300" data-label-animation-class-name="xplode"></gwd_animation_label_element>
          <div class="gwd-animation-event event-3-animation" data-event-name="event-3" data-event-time="8900"></div>
        </div>
      </div>
      <div id="page1_1" is="gwd-page" class="gwd-page-wrapper gwd-lightbox gwd-div-kvo5" data-gwd-width="100%" data-gwd-height="100%" data-gwd-name="page2">
        <div class="gwd-page-content gwd-div-1msl">
          <img is="gwd-image" source="Assets_House_floorGrid-05.svg" id="gridPage2" class="gwd-img-1ck7">
          <img is="gwd-image" source="Assets_House_Xploded.svg" id="xplodedHousePage2" class="gwd-img-11f4 gwd-gen-59kegwdanimation">
          <gwd_animation_label_element data-label-name="xplodeInside" data-label-time="0" data-label-animation-class-name="xplodeInside"></gwd_animation_label_element><span class="gwd-span-1etj gwd-span-1m9v gwd-gen-zauygwdanimation">EXIT</span>
          <gwd-taparea id="gwd-taparea_2" class="gwd-taparea-7tm4 gwd-gen-1lqpgwdanimation"></gwd-taparea>
          <canvas is="gwd-bezierpath" width="108" height="281" class="gwd-canvas-1ndm gwd-gen-1r3sgwdanimation" anchors="[[[0.04,265.45,0],[0,262.92,0],[0,262.92,0]],[[30.89,281.29,0],[30.89,281.29,0],[30.89,281.29,0]],[[107.58,237.16,0],[107.58,237.16,0],[107.58,237.16,0]],[[108.42,27,0],[108.42,27,0],[108.42,27,0]],[[63.42,0,0],[63.42,0,0],[63.42,0,0]],[[3.42,33,0],[3.42,33,0],[3.42,33,0]]]" closed="" stroke-width="0" stroke-color="null" fill-color="[1,0,0.3568627450980392,1]" geom-type="5" id="state_laundry"></canvas>
          <img is="gwd-image" source="Smart_House_Appliances-09.svg" id="appliance_laundry" class="gwd-img-1q7g gwd-gen-1ap4gwdanimation">
          <p class="gwd-p-18ma gwd-gen-1vgggwdanimation">$21,00<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            <br>

          </p>
          <canvas is="gwd-bezierpath" width="80" height="263" class="gwd-canvas-kjli gwd-gen-rgecgwdanimation" id="state_fridge" anchors="[[[78.69,18.18,0],[79.49,16.5,0],[79.49,16.5,0]],[[79.61,244.8,0],[79.61,244.8,0],[79.61,244.8,0]],[[42.98,263.14,0],[42.98,263.14,0],[42.98,263.14,0]],[[2.98,239.81,0],[2.98,239.81,0],[2.98,239.81,0]],[[0.5,30.51,0],[0.5,30.51,0],[0.5,30.51,0]],[[50.49,0.5,0],[50.49,0.5,0],[50.49,0.5,0]]]" closed="" stroke-width="1" stroke-color="null" fill-color="[0.00392156862745098,1,0,1]" geom-type="5"></canvas>
          <img is="gwd-image" source="Smart_House_Appliances-08.svg" id="appliance_fridge" class="gwd-img-1l3i gwd-gen-1gb7gwdanimation">
          <p class="gwd-p-18ma gwd-gen-1nmcgwdanimation gwd-p-2emu">$11,00<br>
            -<br>
            -<br>
            -<br>
            -<br>
            <br>

          </p>
          <canvas is="gwd-bezierpath" width="94" height="318" class="gwd-canvas-132j gwd-gen-1hxvgwdanimation gwd-canvas-ijg3" id="state_oven" anchors="[[[48.75,7.29,0],[48.68,7.5,0],[48.68,7.5,0]],[[8.67,29.49,0],[8.67,29.49,0],[8.67,29.49,0]],[[7.5,230.97,0],[7.5,230.97,0],[7.5,230.97,0]],[[44.74,252.4,0],[44.74,252.4,0],[44.74,252.4,0]],[[43.07,297.06,0],[43.07,297.06,0],[43.07,297.06,0]],[[38.88,299.29,0],[38.88,299.29,0],[38.88,299.29,0]],[[38.61,302.65,0],[38.61,302.65,0],[38.61,302.65,0]],[[48.9,310.96,0],[48.9,310.96,0],[48.9,310.96,0]],[[86.68,288.45,0],[86.68,288.45,0],[86.68,288.45,0]],[[85.68,30.5,0],[85.68,30.5,0],[85.68,30.5,0]]]" closed="" stroke-width="15" stroke-color="null" fill-color="[1,0.8627450980392157,0,1]" geom-type="5"></canvas>
          <img is="gwd-image" source="Smart_House_Appliances-07.svg" id="appliance_oven" class="gwd-img-1nwv gwd-gen-5qn9gwdanimation">
          <p class="gwd-p-18ma gwd-p-2emu gwd-gen-qzhbgwdanimation gwd-p-qds1">$17,00<br>
            -<br>
            -<br>
            -<br>
            -<br>
            <br>

          </p>
          <canvas is="gwd-bezierpath" width="85" height="311" class="gwd-canvas-132j gwd-canvas-1vxe gwd-gen-p55jgwdanimation" id="state_dishwasher" anchors="[[[44.37,7.29,0],[44.3,7.5,0],[44.3,7.5,0]],[[7.5,27.64,0],[7.5,27.64,0],[7.5,27.64,0]],[[7.78,287.82,0],[7.78,287.82,0],[7.78,287.82,0]],[[40.18,304.32,0],[40.18,304.32,0],[40.18,304.32,0]],[[77.96,281.81,0],[77.96,281.81,0],[77.96,281.81,0]],[[77.64,26.95,0],[77.64,26.95,0],[77.64,26.95,0]]]" closed="" stroke-width="15" stroke-color="null" fill-color="[1,0,0.3568627450980392,1]" geom-type="5"></canvas>
          <img is="gwd-image" source="Smart_House_Appliances-06.svg" id="appliance_dishwasher" class="gwd-img-1uil gwd-gen-rorhgwdanimation">
          <p class="gwd-p-18ma gwd-p-2emu gwd-p-qds1 gwd-gen-utsngwdanimation gwd-p-abvs">$27,00<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -<br>
            -
          </p>
          <gwd_animation_pause_element></gwd_animation_pause_element>
          <gwd-taparea id="gwd-taparea_4" class="gwd-taparea-1o4w"></gwd-taparea>
          <gwd-taparea id="gwd-taparea-laundry" class="gwd-taparea-186q"></gwd-taparea>
          <gwd-taparea id="gwd-taparea_fridge" class="gwd-taparea-1tl4"></gwd-taparea>
          <gwd-taparea id="gwd-taparea_oven" class="gwd-taparea-17sn"></gwd-taparea>
          <gwd-taparea id="gwd-taparea_dishwasher" class="gwd-taparea-17kp"></gwd-taparea>
          <gwd_animation_label_element data-label-name="xplodedEnd" data-label-time="500" data-label-animation-class-name="xplodedEnd"></gwd_animation_label_element>
          <img is="gwd-image" source="Smart_House-OnOff-Bar-v2-12.svg" id="menuBar" class="gwd-img-10jq gwd-gen-15twgwdanimation">
          <div class="gwd-animation-event event-8-animation" data-event-name="event-8" data-event-time="3400"></div>
          <gwd_animation_label_element data-label-name="dishwasher" data-label-time="3100" data-label-animation-class-name="dishwasher"></gwd_animation_label_element>
          <div class="gwd-animation-event event-12-animation" data-event-name="event-12" data-event-time="500"></div>
          <gwd_animation_label_element data-label-name="laundry" data-label-time="1000" data-label-animation-class-name="laundry"></gwd_animation_label_element>
          <gwd_animation_label_element data-label-name="refrigerator" data-label-time="1700" data-label-animation-class-name="refrigerator"></gwd_animation_label_element>
          <gwd_animation_label_element data-label-name="oven" data-label-time="2400" data-label-animation-class-name="oven"></gwd_animation_label_element>
          <div class="gwd-animation-event event-13-animation" data-event-name="event-13" data-event-time="1300"></div>
          <div class="gwd-animation-event event-14-animation" data-event-name="event-14" data-event-time="2000"></div>
          <div class="gwd-animation-event event-15-animation" data-event-name="event-15" data-event-time="2700"></div>
          <div class="gwd-div-xmhb gwd-gen-11xogwdanimation" data-gwd-group="onOffButtonGroup" id="toggleON-OFF_dishwasher">
      <img is="gwd-image" source="Smart_House-OffButton-11.svg" class="gwd-img-1sx9 gwd-grp-15z0 gwd-gen-17i7gwdanimation" data-gwd-grp-id="gwd-image_3">
      <img class="gwd-grp-15z0 gwd-img-qsi0 gwd-gen-137vgwdanimation" is="gwd-image" source="Smart_House-OnButton-11.svg" data-gwd-grp-id="gwd-image_4">
      <gwd_animation_label_element data-label-name="on" data-label-time="500" data-label-animation-class-name="on"></gwd_animation_label_element>
      <div class="gwd-animation-event event-16-animation" data-event-name="event-16" data-event-time="0.1"></div>
      <gwd_animation_pause_element></gwd_animation_pause_element>
      <div class="gwd-animation-event event-17-animation" data-event-name="event-17" data-event-time="500"></div>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_5" class="gwd-grp-15z0 gwd-taparea-f7o3"></gwd-taparea>
      <gwd-taparea class="gwd-taparea-f7o3 gwd-grp-15z0 gwd-taparea-58cw" data-gwd-grp-id="gwd-taparea_6"></gwd-taparea>
      <div class="gwd-animation-event event-18-animation" data-event-name="event-18" data-event-time="1000"></div>
      <gwd_animation_label_element data-label-name="off" data-label-time="0" data-label-animation-class-name="off"></gwd_animation_label_element>
    </div>
          <div class="gwd-div-xmhb gwd-gen-1dnigwdanimation gwd-div-1loo" data-gwd-group="onOffButtonGroup" id="toggleON-OFF_stove-oven">
      <img is="gwd-image" source="Smart_House-OffButton-11.svg" class="gwd-img-1sx9 gwd-grp-15z0 gwd-gen-17i7gwdanimation" data-gwd-grp-id="gwd-image_3">
      <img class="gwd-grp-15z0 gwd-img-qsi0 gwd-gen-137vgwdanimation" is="gwd-image" source="Smart_House-OnButton-11.svg" data-gwd-grp-id="gwd-image_4">
      <gwd_animation_label_element data-label-name="on" data-label-time="500" data-label-animation-class-name="on"></gwd_animation_label_element>
      <div class="gwd-animation-event event-16-animation" data-event-name="event-16" data-event-time="0.1"></div>
      <gwd_animation_pause_element></gwd_animation_pause_element>
      <div class="gwd-animation-event event-17-animation" data-event-name="event-17" data-event-time="500"></div>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_5" class="gwd-grp-15z0 gwd-taparea-f7o3"></gwd-taparea>
      <gwd-taparea class="gwd-taparea-f7o3 gwd-grp-15z0 gwd-taparea-58cw" data-gwd-grp-id="gwd-taparea_6"></gwd-taparea>
      <div class="gwd-animation-event event-18-animation" data-event-name="event-18" data-event-time="1000"></div>
      <gwd_animation_label_element data-label-name="off" data-label-time="0" data-label-animation-class-name="off"></gwd_animation_label_element>
    </div>
          <div class="gwd-div-xmhb gwd-div-1loo gwd-gen-i0c8gwdanimation gwd-div-1wm8" data-gwd-group="onOffButtonGroup" id="toggleON-OFF_refrigerator">
      <img is="gwd-image" source="Smart_House-OffButton-11.svg" class="gwd-img-1sx9 gwd-grp-15z0 gwd-gen-17i7gwdanimation" data-gwd-grp-id="gwd-image_3">
      <img class="gwd-grp-15z0 gwd-img-qsi0 gwd-gen-137vgwdanimation" is="gwd-image" source="Smart_House-OnButton-11.svg" data-gwd-grp-id="gwd-image_4">
      <gwd_animation_label_element data-label-name="on" data-label-time="500" data-label-animation-class-name="on"></gwd_animation_label_element>
      <div class="gwd-animation-event event-16-animation" data-event-name="event-16" data-event-time="0.1"></div>
      <gwd_animation_pause_element></gwd_animation_pause_element>
      <div class="gwd-animation-event event-17-animation" data-event-name="event-17" data-event-time="500"></div>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_5" class="gwd-grp-15z0 gwd-taparea-f7o3"></gwd-taparea>
      <gwd-taparea class="gwd-taparea-f7o3 gwd-grp-15z0 gwd-taparea-58cw" data-gwd-grp-id="gwd-taparea_6"></gwd-taparea>
      <div class="gwd-animation-event event-18-animation" data-event-name="event-18" data-event-time="1000"></div>
      <gwd_animation_label_element data-label-name="off" data-label-time="0" data-label-animation-class-name="off"></gwd_animation_label_element>
    </div>
          <div class="gwd-div-xmhb gwd-div-1loo gwd-div-1wm8 gwd-gen-wtrhgwdanimation gwd-div-1161" data-gwd-group="onOffButtonGroup" id="toggleON-OFF_washer-dryer">
      <img is="gwd-image" source="Smart_House-OffButton-11.svg" class="gwd-img-1sx9 gwd-grp-15z0 gwd-gen-17i7gwdanimation" data-gwd-grp-id="gwd-image_3">
      <img class="gwd-grp-15z0 gwd-img-qsi0 gwd-gen-137vgwdanimation" is="gwd-image" source="Smart_House-OnButton-11.svg" data-gwd-grp-id="gwd-image_4">
      <gwd_animation_label_element data-label-name="on" data-label-time="500" data-label-animation-class-name="on"></gwd_animation_label_element>
      <div class="gwd-animation-event event-16-animation" data-event-name="event-16" data-event-time="0.1"></div>
      <gwd_animation_pause_element></gwd_animation_pause_element>
      <div class="gwd-animation-event event-17-animation" data-event-name="event-17" data-event-time="500"></div>
      <gwd-taparea data-gwd-grp-id="gwd-taparea_5" class="gwd-grp-15z0 gwd-taparea-f7o3"></gwd-taparea>
      <gwd-taparea class="gwd-taparea-f7o3 gwd-grp-15z0 gwd-taparea-58cw" data-gwd-grp-id="gwd-taparea_6"></gwd-taparea>
      <div class="gwd-animation-event event-18-animation" data-event-name="event-18" data-event-time="1000"></div>
      <gwd_animation_label_element data-label-name="off" data-label-time="0" data-label-animation-class-name="off"></gwd_animation_label_element>
    </div>
        </div>
      </div>
    </div>
  </gwd-doubleclick>
  <script type="text/javascript" id="gwd-init-code">
    (function() {
      var gwdAd = document.getElementById('gwd-ad');

      /**
       * Handles the DOMContentLoaded event. The DOMContentLoaded event is
       * fired when the document has been completely loaded and parsed.
       */
      function handleDomContentLoaded(event) {

      }

      /**
       * Handles the WebComponentsReady event. This event is fired when all
       * custom elements have been registered and upgraded.
       */
      function handleWebComponentsReady(event) {
        // Start the Ad lifecycle.
        setTimeout(function() {
          gwdAd.initAd();
        }, 0);
      }

      /**
       * Handles the event that is dispatched after the Ad has been
       * initialized and before the default page of the Ad is shown.
       */
      function handleAdInitialized(event) {}

      window.addEventListener('DOMContentLoaded',
        handleDomContentLoaded, false);
      window.addEventListener('WebComponentsReady',
        handleWebComponentsReady, false);
      window.addEventListener('adinitialized',
        handleAdInitialized, false);
    })();
  </script>


<script data-exports-type="gwd-studio-registration">function StudioExports() {
Enabler.setFloatingPixelDimensions(0,0);
}</script><script type="text/gwd-admetadata">{"version":1,"type":"DoubleClick","format":"","template":"Interstitial 3.0.0","politeload":true,"fullscreen":false,"counters":[],"timers":[],"exits":[],"creativeProperties":{"minWidth":0,"minHeight":0,"maxWidth":0,"maxHeight":0},"components":["gwd-bezierpath","gwd-doubleclick","gwd-image","gwd-oval","gwd-page","gwd-pagedeck","gwd-rectangle","gwd-taparea"],"responsive":true}</script>

{% endblock main-content %}

