doctype html
html(lang='en')
  head
    title PubSub
    meta(charset='utf-8')
  body    
    p
      a(href='messages') Pull For Subscription Messages

    //- [START form]
    form(method='post')
      textarea(name='payload', placeholder='Enter message here.')
      button(type='submit') Send
    //- [END form]